doctype html 
html(lang="ko")
    head 
        title #{Pagetitle} | Youtube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        header
            nav 
                ul 
                    li 
                        a(href="/login") Login
                    li
                        a(href="/video/upload") Upload
                    li  
                        a(href="/") Home
            h1=Pagetitle
        main
            block content 
    include partials/footer