extends base.pug 

block content
    if errormessage
        span=errormessage
    form(method="POST")
        input(placeholder="Title",required,type="text",name="title")
        input(placeholder="Description",required,type="text",name="description")
        input(placeholder="Hashtags",required,type="text",name="hashtags")
        input(type="submit",value="Upload Video")